$font-jua:'Jua', sans-serif;
@mixin flex-row {display:flex; flex-flow:row nowrap; align-items:center;}
header {
    height:100px;
    background:linear-gradient(0deg,rgba(225,225,225,0.7), transparent); width:100%; padding:0 15px; margin:0 auto;
    @include flex-row;
    justify-content:space-between;
    position:fixed; left:0; top:0; z-index:999;
    h1 {
        width:150px;
        a {img{width:100%;}}
    }
    .header_right {
        @include flex-row;
        .app {
            font-family: $font-jua; 
            border:2px solid #fff; border-radius:20px;
            padding:15px 25px; color:#fff;
        }
        .all_nav {
            span {
                display:block;
                background:#fff;
                border-radius:5px;
                width:30px; height:5px;
                margin:5px 0 0 20px;
            }
            span:nth-child(1) {margin-top:0;}
            span:nth-child(2) {}
            span:nth-child(3) {}
        }
    }
}