header {
  height: 100px;
  background: linear-gradient(0deg, rgba(225, 225, 225, 0.7), transparent);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
header h1 {
  width: 150px;
}
header h1 a img {
  width: 100%;
}
header .header_right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header .header_right .app {
  font-family: "Jua", sans-serif;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 15px 25px;
  color: #fff;
}
header .header_right .all_nav span {
  display: block;
  background: #fff;
  border-radius: 5px;
  width: 30px;
  height: 5px;
  margin: 5px 0 0 20px;
}
header .header_right .all_nav span:nth-child(1) {
  margin-top: 0;
}
main .visual {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
main .visual .contents {
  position: relative;
  z-index: 110;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
main .visual .contents h1 {
  font-family: "Jua", sans-serif;
  font-size: 3rem;
  line-height: 1.3;
}
main .visual .contents p {
  line-height: 2;
}
main .visual .contents .down {
  display: inline-block;
  background: #fff;
  border-radius: 30px;
  width: 300px;
  height: 70px;
  line-height: 70px;
  margin-top: 70px;
  font-family: "Jua", sans-serif;
  font-size: 1.5rem;
}
main .visual video {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 100;
  width: 110%;
  transform: translateX(-50%);
}
main .visual .page_down {
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 110;
}
main .visual::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 105;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
  content: "";
}
main .event_wrap {
  width: 1200px;
  margin: 100px auto;
}
main .event_wrap h1 {
  font-family: "Jua", sans-serif;
  font-size: 2.7rem;
  line-height: 1.3;
}
main .event_wrap > p {
  padding: 20px 0;
}
main .event_wrap .more {
  display: inline-block;
  font-family: "Jua", sans-serif;
  padding-bottom: 100px;
  position: relative;
}
main .event_wrap .more img {
  position: absolute;
  top: -5px;
  left: 45px;
}
main .event_wrap .slide_wrap .slide_container {
  display: grid;
  grid-template-areas: "s1 s2 s3";
}
main .event_wrap .slide_wrap .slide_container .slide {
  margin-right: 5px;
  padding: 30px;
  border-radius: 25px;
}
main .event_wrap .slide_wrap .slide_container .slide h2 {
  font-family: "Jua", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
}
main .event_wrap .slide_wrap .slide_container .slide p {
  margin: 5px 0 100px;
}
main .event_wrap .slide_wrap .slide_container .slide1 {
  background: #ffe552 url(../images/event_image_0_20221028085348_35465.png) no-repeat;
  background-size: cover;
  grid-area: s1;
  background-size: 60%;
  background-position: right bottom;
}
main .event_wrap .slide_wrap .slide_container .slide2 {
  background: #b2e9de url(../images/event_image_0_20221028085704_61822.png) no-repeat;
  background-size: cover;
  grid-area: s2;
  background-size: 80%;
  background-position: right bottom;
}
main .event_wrap .slide_wrap .slide_container .slide2 h2 {
  font-family: "Jua", sans-serif;
}
main .event_wrap .slide_wrap .slide_container .slide3 {
  background: #ffcfd8 url(../images/event_image_3_20221105015010_49282.png) no-repeat;
  background-size: cover;
  grid-area: s3;
  background-size: 60%;
  background-position: right bottom;
  margin: 0;
}
main .event_wrap .slide_wrap .slide_container .slide3 h2 {
  font-family: "Jua", sans-serif;
}
main .why {
  width: 1200px;
  margin: 100px auto;
}
main .why h1 {
  font-family: "Jua", sans-serif;
  font-size: 2.7rem;
  line-height: 1.3;
}
main .why p {
  padding: 20px 0;
}
main .why .more {
  display: inline-block;
  font-family: "Jua", sans-serif;
  padding-bottom: 100px;
  position: relative;
}
main .why .more img {
  position: absolute;
  top: -5px;
  left: 45px;
}
main .why .why_container {
  display: grid;
  grid-template-areas: "w1 w2 w3 w4 w5";
  height: 300px;
}
main .why .why_container .why_slide {
  border-radius: 15px;
  margin-right: 20px;
  width: 220px;
  position: relative;
}
main .why .why_container .why_slide p {
  font-weight: 600;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  margin: 25px 0 0 25px;
}
main .why .why_container .why_slide a {
  position: absolute;
  top: 40%;
  left: 35%;
}
main .why .why_container .why_slide a img {
  width: 100%;
}
main .why .why_container .why_slide1 {
  background: url(../images/thumbnail_image_1_20221104060651_67302.jpeg) no-repeat;
  background-size: cover;
  grid-area: w1;
}
main .why .why_container .why_slide1 p {
  background: #ffcfd8;
}
main .why .why_container .why_slide2 {
  background: url(../images/thumbnail_image_2_20221104060915_64092.jpeg) no-repeat;
  background-size: cover;
  grid-area: w2;
}
main .why .why_container .why_slide2 p {
  background: #b2e9de;
}
main .why .why_container .why_slide3 {
  background: url(../images/thumbnail_image_3_20221104060928_38608.jpeg) no-repeat;
  background-size: cover;
  grid-area: w3;
}
main .why .why_container .why_slide3 p {
  background: #ffe552;
}
main .why .why_container .why_slide4 {
  background: url(../images/thumbnail_image_4_20221104060946_71750.jpeg) no-repeat;
  background-size: cover;
  grid-area: w4;
}
main .why .why_container .why_slide4 p {
  background: #b2e9de;
}
main .why .why_container .why_slide5 {
  background: url(../images/thumbnail_image_5_20221104060955_15559.jpeg) no-repeat;
  background-size: cover;
  grid-area: w5;
  margin-right: 0;
}
main .why .why_container .why_slide5 p {
  background: #ffcfd8;
}/*# sourceMappingURL=main.css.map */